@use './abstracts' as *;
@use './base' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // grid-column: 2;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

