@use './abstracts' as *;
@use './base' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // grid-column: 2;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.primary-icon-wrapper {
  width: 5em;
  position: absolute;
  bottom: 0;
  right: 0;
  @include flex(column, center, center);

  li {
    padding: 2em 0;
  }
}

.secondary-icon-wrapper {
  width: 5em;
  position: fixed;
  bottom: calc(100/2);
  right: 0;
  @include flex(column, center, center);

  li {
    padding: 2em 0;
  }
}

.primary-color {
  color: white;
}

.secondary-color {
  color: black;
}

.primary-color, .secondary-color {
  &:hover {
    color: $lightBlue;
  }
}