//---------- Colors -------------

// primary background color
$white: #ffff;
// primary blob color
$purple: #945AC8;
// secondary blob color
$red: #E23434;
// text and secondary background color
$dark-blue: #2F2E41;
// project page secondary color
$darker-blue: #262534;
// primary background icon's color
$light-grey: #F2F2F2;
// grey color 
$mid-grey: #C4C4C4;

//-------- Components parameters ----------

$header-height: 10vh;
