//---------- Colors -------------

// primary background color
$white: #f6f6f6;
// secondary background color
$black: #0E0E0E;
// hover color
$lightBlue: #007aff;
// primary footer color
$grey: #C0C0C0;
// secondary footer color
$darkGrey: #999999;

//--------- Other variables -----------
$minCardWidth: 23em;
