//---------- Colors -------------

// primary background color
$white: #EAEAEA;
// secondary background color
$black: #0E0E0E;
// hover color
$lightBlue: #00A0FF;
// primary footer color
$grey: #C0C0C0;
// secondary footer color
$darkGrey: #999999;

//--------- Other variables -----------
$minCardWidth: 23em;
