@use '../../sass/abstracts/' as *;
@use '../../sass/base/font-face' as *;

.my-swiper {
  height: 100%;
  z-index: 2;
}

.thumbnail {
  width: 100%;
  height: 35em;
  @include flex(column, start, start);
  position: relative;
  color: white;
  padding: 2em;
  transition: background 0.5s ease;
  overflow: hidden;

  @include media("<=SMdesktop") {
    height: 30em;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &-heading {
    width: 100%;
    z-index: 2;

    .title {
      font-family: indie flower, arial, helvetica, sans-serif;
      font-weight: 500;
      width: 100%;
      text-align: left;
      margin-bottom: 2rem;
      letter-spacing: 2px;

      @include media("<=SMdesktop") {
        line-height: 30px;
      }
  
      @include media("<=tablet"){
        text-align: center;
        line-height: 25px;
      }
    }
  }

  &-subheading {
    width: 100%;
    @include flex(row, start, center);
    z-index: 2;
    letter-spacing: 1px;

    @include media("<=tablet"){
      justify-content: center;
    }

    .date {
      font-family: $karma !important;
      font-weight: 500;
    }

    .divider {
      font-size: 2.5rem;
      margin: -0.3em 0.5em 0 0.5em;
    }
  }

  &-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10em;
    height: 10em;
    background: white;
    border-radius: 50%;
    @include flex(row, center, center);
    z-index: 3;
    transition: all 0.5s ease 1s;

    h6 {
      font-family: indie flower, arial, helvetica, sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      color: $lightBlue;
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: background 0.5s ease;
    z-index: 2;
  }
}
