@use '../../sass/abstracts/' as *;

.main {
  @include flex(row, center, center);
  background: $white;

  &-wrapper {
    flex: 0 0 90em;
    padding: 33em 0;
    @include flex(column, center, center);

    @include media("<SMdesktop") {
      flex: 1;
      padding: 30em 2em;
    }

    h4 {
      font-family: indie flower, arial, helvetica, sans-serif;
      text-align: center;
      font-weight: 500;
      margin-top: 2em;
    }
  
    hr {
      border: none;
      height: .5px;
      background: black;
      width: 30em;
    }
  
    p {
      font-weight: lighter;
      line-height: 30px;
      margin: 2em 0;
    }
  }

  @include media("<=SMdesktop") {
    flex: 1;
  }
}
