@use '../../sass/abstracts/' as *;

.main {
  @include flex(row, center, center);

  &-wrapper {
    flex: 0 0 90em;
    @include flex(column, center, center);
    padding: 5em 0;

    @include media("<SMdesktop") {
      flex: 1;
      padding: 3em 2em;
    }

    @include media("<=phoneL") {
      flex: 1;
      padding: 3em 2em;
    }

    @include media("<=phone") {
      flex: 0 0 100%;
      padding: 0 1em 2em 1em;
    }

    h4 {
      font-family: indie flower, arial, helvetica, sans-serif;
      text-align: center;
      font-weight: 500;
    }
  
    hr {
      border: none;
      height: .5px;
      background: black;
      width: 30em;

      @include media("<=phoneL") {
        width: 60%;
      }
    }
  
    p {
      font-weight: lighter;
      line-height: 30px;
      margin: 2em 0 5em 0;
    }
  }

  @include media("<=SMdesktop") {
    flex: 1;
  }
}
