@use '../../sass/abstracts/' as *;
@use "../../sass/base" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include flex(column, center, center);
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  z-index: 2;
}

.navbar {
  flex: 0 0 80%;
  @include flex(row, center, center);
  padding: 1em 0;

  a {
    font-size: clamp(1.4rem, 1.5vw, 1.8rem),
  }

  &-left, &-right {
    flex: 0 0 34.6em;
    padding: 11px 0px;
    gap: 100px;
  }

  &-left {
    @include flex(row, end, center);
  }

  &-right {
    @include flex(row, start, center);
  }

  .logo {
    @include flex(row, start, center);
    text-align: center;
    margin: 0 calc(8 * 1vw);

    img {
      width: 5em;
    }
  }
}