@use "../../sass/abstracts/" as *;

.wrapper {
  max-width: 100%;
  // min-height: 100vh;
  @include flex(row, space-between, start);
  padding-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  justify-items: center;
}